/* ////////////////////////////// */
/* 404s                           */
/* ////////////////////////////// */

.error-404 {
  text-align: center;
  padding: 50px 0;
}

.error-404 h1 {
  font-size: 15rem;
}

.error-404 h2 {
  font-size: 6rem;
}

.error-404 h3 {
  font-size: 3rem;
  margin: 30px 0;
}
