/* ////////////////////////////// */
/* Elements                       */
/* ////////////////////////////// */

html,
body {
  width: 100%;
}

/* ////////////////////////////// */
/* Main                           */
/* ////////////////////////////// */

main.sidenav {
  width: 100%;
  transition: 0.5s all ease-in-out;
  display: inline-flex;
}

main {
  width: 100%;
}

/* ////////////////////////////// */
/* Footer                         */
/* ////////////////////////////// */

/* ////////////////////////////// */
/* Mobile                         */
/* ////////////////////////////// */
